<!DOCTYPE html>
<html>
<head>
  <title>Halaman Login</title>
</head>
<body>
  <h1>Masuk</h1>
  <form action="/login" method="POST">
    <input type="password" name="passcode" placeholder="Kata Sandi">
    <button type="submit">Masuk</button>
  </form>
</body>
</html>
